@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Roboto', sans-serif;    
    }
    body {
        background-color: #EDF2F7;
        color: #5E5873;
    }
}

.active-link {
    @apply bg-secondary;
}

.exact-active-link {
    @apply !text-white;
}